body {
  background-color: #EEE;
  font-family: Helvetica, Arial, sans-serif;
}
.splashimg {
  width: 55vw;
  max-width: 350px;
  margin-bottom: 1.5em;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 8px 28px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 8px 28px rgba(0, 0, 0, .8);
}
a:link, a:visited {
  color:#06F;
}
a:hover {
  color:#39F;
}
#navigation {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
#pageLi {
  display: inline;
}
#navigation li a {
  float: left;
  color: red;
  margin: 10px;
}
.selected {
  font-weight: bold;
}
.disabledlink {
  pointer-events: none;
  cursor: default;
  color: #4a4a4a !important;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#contentDiv {
  clear: both;
  padding:30px;
  background:rgba(0, 0, 0, 0.1);
  border:rgba(0, 0, 0, 0.2);
  font-size:24px;
  border-radius:15px;
  text-align: center;
}
#contentDiv li {
  text-align: left;
}
ul#pagination {
  text-align: center;
  padding: 0;
}
ul#pagination li {
  display:inline-block;
  margin-right:20px;
}
ul#pagination li:last-child {
  margin:0;
}
